@page "/"

<h1>TeraWord OpenLayers <span class="fa fa-camera"></span></h1>

<div style="border:1px solid silver;height:640px;">
    <Map @ref=Map Center=Center Attributions="Demo by <a href='https://www.teraword.net'><b>TeraWord</b></a>" />
</div>

<br />

<button class="btn btn-primary" @onclick=OnCenterClick>center</button>
<button class="btn btn-primary" @onclick=OnPinClick>pin</button>
<button class="btn btn-primary" @onclick=OnFlagClick>flag</button>
<button class="btn btn-primary" @onclick=OnAwesomeClick>awesome</button>